<section class="no-padding" id="portfolio">
    <div class="container-fluid">

        <div class="row">
            <div class="section-title" style="text-align: center;">
              <h2 style="font-size: 23px; letter-spacing: 0px; line-height: 30px;">
                テーマ<br>
                『俺たちの知らない淡路島。』<br>
                　受賞作品
            　</h2>
            </div>
          </div>

        <div class="row no-gutter">
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    大賞<br>
                </strong>
                荻車<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000013.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                浜、海、空の三分割構図が見事です。<br>
                手前から奥へと視線を誘導する砂浜には<br>
                モデルが 4人立っており、ポーズを取っていますかが、<br>
                しどけない決めポーズという<br>
                相反する瞬間が収められています。<br>
                台風が近づくなかでも穏やかな波をたたえる瀬戸内海が、<br>
                今年も我々を淡路島にいざなってくれるでしょう。<br>
                あえて引いた画角にパンフォーカスという<br>
                写ルンですが活きる写真にもなっており、<br>
                満場一致の 大賞でした。おめでとうございます。
              </p>
            </div>
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    副賞<br>
                </strong>
                舞車<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000008.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                島という隔絶された場所において、<br>
                あえて世界と接触を試みた意欲作。<br>
                周縁部の像が流れており、<br>
                写ルンですらしさが出ているのもよいですね。<br>
                酒と焚き火と音楽で大騒ぎをした我々に<br>
                この笑顔を向けてくれた中川さんと<br>
                ドイツからのご家族にも感謝をこめて副賞といたします。<br>
              </p>
            </div>
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    審査員賞(小谷野)<br>
                </strong>
                撮影車不明<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000024.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                誰もいなくなった宿の窓ガラスに映る車が、<br>
                寂しさを醸し出す1枚。<br>
                去り際の撮影者がガラスに映りこんでいないかと<br>
                探してみても見つからず、「誰もいないこと」を<br>
                撮ることにより不在性を強く感じさせているところを<br>
                評価しました。終わりを強く感じさせ、<br>
                撮影者の名残惜しい気持ちまで伝わる作品だと思います。
              </p>
            </div>
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    審査員賞(星野)<br>
                </strong>
                荻車<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000006.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                写ルンですで自撮りに挑戦した意欲作。<br>
                最短撮影距離 1m、ファインダー像不明<br>
                という悪条件のなか、<br>
                しっかりと自撮りを決めた点が評価されました。<br>
                また、写ルンですによる自撮りは、<br>
                携帯のインカメによる自撮りが<br>
                当たり前となった 2010年代に<br>
                しか見られない行為かと思われます。<br>
                近年巷に溢れる「自撮り」という行為に対して、<br>
                非常に示唆的な内容を含む1枚です。
              </p>
            </div>
             <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    審査員賞(沓澤)<br>
                </strong>
                運営車<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000017.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                静物写真として、床に寝かされた掃除機に<br>
                競り勝つ形で選ばれた1枚。<br>
                運営車の1枚ですが撮影者は
                もちろんクツザワ以外です。<br>
                浴衣で城之崎温泉を楽しんだ様子が<br>
                写りこむ下駄に現れています。<br>
                傘をさしていても髪までずぶぬれになるような<br>
                烈雨のなか、カメラが保護のために<br>
                クーラーボックスに入れられています。<br>
                ミスマッチにより生まれる異化効果の面白さが<br>
                評価されました。
              </p>
            </div>
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    夏の終わり賞<br>
                </strong>
                天車<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000003.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                夏の表象ともいえるソフトクリームが並ぶなか、<br>
                エアコンは動いていない様子で気温はそこまで<br>
                高くないのだろうということが想像できます。<br>
                夏の余韻と朝晩に聞こえる秋の足音を<br>
                写した1枚といえるでしょう。<br>
                涼しげな、夏の終わりを想起させる<br>
                打ちたての新そばのような佳作ですね。
              </p>
            </div>
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    スナップ写真賞<br>
                </strong>
                天車<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000011.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                この写真には2つの瞬間が収められています。<br>
                1つはじゃんけんの瞬間、もうひとつはその様子を<br>
                撮影する女性がシャッターを切る瞬間です。<br>
                刹那を切り取るのがスナップ写真の真髄であり、<br>
                ここぞという瞬間にシャッターを切ることが<br>
                出来る勝負強さを感じます。<br>
                この女性が撮った別アングルの写真も気になりますね。<br>
                後姿からでもじゃんけんをする<br>
                人々が笑顔であるのが想像できる温かな1枚です。
              </p>
            </div>
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    集合写真賞<br>
                </strong>
                荻車<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000011_2.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                数人で撮った写真は数多くあれど、<br>
                数人と1匹が写ったものはこれのみでした。<br>
                ありきたりな記念写真のようですが、<br>
                他人に撮って貰っているにも関わらず、<br>
                忘れずに室内でフラッシュをたいており、<br>
                写ルンですグレードの高い1枚になっています。<br>
                犬までしっかりカメラ目線であるのも<br>
                この旅の充実を伝えるようで、評価されました。
              </p>
            </div>
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    島スイーツ賞<br>
                </strong>
                天車<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000005_2.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: left; margin: 15px 0 10px 17px;">
              <p style="line-height: 20px;">
                アイスを口へ運ぶ彼女たちの見る先に<br>
                開かれた雑誌には「島スイーツ」の文字。<br>
                甘いものを食べながら甘いものの話をする、<br>
                女の子らしい華やかな場面を切り取っていますね。<br>
                お店に入った先で次の行き先を決める<br>
                という旅の贅沢な一面が想像できる1枚です。
              </p>
            </div>
<!-- 
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    なんとかで賞<br>
                </strong>
                チーム オギハラ<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000005.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: center;">
              <p>選定理由をつらつらと</p>
            </div>
            <div class="section-title" style="text-align: center;">
              <h4>
                <strong>
                    なんとかで賞<br>
                </strong>
                チーム オギハラ<br>
            　</h4>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="../img/photo/000023.JPG" class="img-responsive" alt="">
                </a>
            </div>
            <div class="section-title" style="text-align: center;">
              <p>選定理由をつらつらと</p>
            </div> -->
        </div>
    </div>
</section>
